<section class="loan-details-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{interestCalculationRequest.cacheDateTime}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <label>
        Loan amount :
      </label>
      <label>
        {{interestCalculationRequest.interestCalculationRequest.loanAmount}}
      </label>
      <br />
      <label>
        Loan duration in months :
      </label>
      <label>
        {{interestCalculationRequest.interestCalculationRequest.loanDurationInMonths}}
      </label>
    </mat-card-content>
  </mat-card>
</section>
